@use '../mixins/kill-bullets' as *;
@use '../mixins/font-weight' as *;
@use '../functions/rem' as *;
@use '../util/fonts' as *;
@use 'colors' as *;

// type variables
$body-font: 'Barlow', sans-serif;
$header-font: 'Bellefair', serif;
$header-font-condensed: 'Barlow Condensed', sans-serif;
$eyebrow: 'Barlow Condensed', sans-serif;
$nav-links: 'Barlow Condensed', sans-serif;

.eyebrow {
  font-family: $eyebrow;
  font-size: rem(14);
  @include font-weight(medium);
  text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4
h1,
h2,
h3,
h4 {
  font-family: $header-font;
  @include font-weight(roman);
}

h1,
.h1 {
  font-size: rem(150);
}

h2,
.h2 {
  font-size: rem(100);
}

h3,
.h3 {
  font-size: rem(56);
}

h4,
.h4 {
  font-size: rem(32);
}

h5,
.h5 {
  font-family: $header-font-condensed;
  font-weight: normal;
  color: color(violet);
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  margin: 0;
}

ol,
ul {
  @include kill-bullets;
}

p {
  font-size: rem(16);
  margin: 0 0 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.-dark {
    color: color(white);
  }
}